<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Управление курсами</title>
</head>
<body>
<div class="container bg-body-tertiary rounded-3 my-5 p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/control">Панель управления</a></li>
            <li class="breadcrumb-item active" aria-current="page">Управление курсами</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-3">
            <form th:action="@{/control/courses/search}" method="get">
                Поиск<br>
                по названию <input class="form-control" type="text" name="name">
                по описанию <input class="form-control" type="text" name="description">
                <button type="submit" class="btn btn-outline-primary mb-3 mt-3">Найти</button>
            </form>

            <form th:action="@{/control/courses/delete}" method="post">
                Удалить<br>
                по названию <input class="form-control" type="text" name="name">
                <button type="submit" class="btn btn-outline-danger mb-3 mt-3">Удалить</button>
            </form>
        </div>

        <div class="col-3">
            <form th:action="@{/control/courses/save}" method="post" th:object="${course}">
                Название:  <input class="form-control" type="text" th:field="*{name}"><p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                Описание: <input class="form-control" type="text" th:field="*{description}"><p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                <button type="submit" class="btn btn-outline-success mb-3 mt-3">Создать курс</button>
            </form>

            <form th:action="@{/control/courses/addlesson}" method="post">
                Добавить занятие<br>
                <select name="courseName" class="form-select" aria-label="Default select example" >
                    <option selected>выбрать курс</option>
                    <option th:each="course : ${courses}"><p th:text="${course.getName()}"/></option>
                </select>
                номер занятия <input class="form-control" type="number" name="number">
                название занятия <input class="form-control" type="text" name="name">
                <button type="submit" class="btn btn-outline-success mb-3 mt-3">Добавить занятие</button>
            </form>
        </div>
        <div class="col-6">
            <h5>Список курсов</h5>
            <ul >
                <li th:each="course : ${courses}">
                    <p th:text=
                    "${course.getName()}+ ' : '
                    +${course.getLessons()}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>