<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>

<div class="container bg-body-tertiary rounded-3 my-5 p-4">
    <div class="row">
        <div class="col-11">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active me-2" aria-current="page">Личный кабинет :</li>
                    <p th:text="${username}"/>
                </ol>
            </nav>
        </div>
        <div class="col-1" th:insert="~{part/parts :: logout}"></div>
    </div>

    <H3>Мои курсы</H3>

    <div class="row">
        <div th:each="course : ${courses}" class="col-3 m-3">
            <div  class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><p th:text="${course.getName()}"/></h5>
                    <p class="card-text"><p th:text="${course.getDescription()}"/></p>
                    <a th:href="@{/personal/lessons/{name}(name = ${course.getName})}" class="btn btn-primary">Занятия</a>
                </div>
            </div>
        </div>
    </div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>